<h1>Test (Homepage) </h1>

<%#= simple_form_for @website do |f| %>
  <%#= f.input :name, as: :select, collection: ["The New York Times", "Financial Times", "News API", "Wikipedia"] %>
<%# end %>

<h2>Select a website</h2>

<% @websites.each do |website| %>
  <%= website.name %>
  <%= link_to "Search articles", website_path(website) %>
<% end %>
