<h1>Test</h1>

@total_array = []
<% @articles.each do |article| %>
  <% array = [] %>
  <% array.push(article.date) %>
  <% array.push(article.name) %>
  <% @total_array << array %>
<% end %>

  <%= pie_chart @total_array %>
<!-- 消さないと全部出てきちゃう -->

<% @articles.each do |article| %>
  <%= article.date %>
  <%= article.name %>
<% end %>

<% if @articles.website.name == "COVID-19 Data" %>
<% else %>
  <ul>
    <% @articles.each do |article| %>
      <li><%= article.content %></li>
    <% end %>
  </ul>
<% end %>
