<h1>Your dashboard</h1>

  <h3>The articles you liked</h3>
  <% @user.liked_articles.each do |article| %>
    <div class="card-product">
      <%= image_tag article.image, alt: "article image", class: "card-product-image" %>

      <div class="card-product-infos">
        <!-- <h2><%#= link_to article.name, website_article_path(@website, article) %></h2> -->
        <h2><%= link_to article.name, article.url, target: :_blank %></h2>
        <p><%= article.summary %></p>
      </div>
    </div>
  <% end %>
<%= link_to "Search other articles", root_path %>
