<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<select name="website" id="website">
  <option value="nytimes">The New York Times</option>
  <option value="ft">Financial Times</option>
  <option value="news-api">News API</option>
  <option value="wikipedia">Wikipedia</option>
</select>

<!-- 値を受け取ってlink_to各ページへ -->
