// for articles at their index page
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-image {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


// for websites at homepage
.card-homepage {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 480px;
}

.card-homepage > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-homepage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-homepage p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-homepage .card-homepage-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
